

#slider-1{
    position: relative;
    text-align: center;
    background-color: white;
}

a{
    text-decoration: underline;
    color: rgb(243, 131, 222);
    font-weight: 900;
    cursor:pointer;
}

a:hover{
    color: rgb(246, 16, 204);
}