<ul class="navbar-nav mr-auto-nav">
    <li class="nav-item class-icon-principale">
        <a href="javascript:" class="pop-search-nav"><i class="feather icon-user-check"></i></a>
    </li>
    <li class="nav-item class-icon-principale">
        <a href="javascript:" class="pop-search-nav"><i class="feather icon-pocket"></i></a>
    </li>
    <li class="nav-item class-icon-principale">
        <a href="javascript:" class="pop-search-nav"><i class="feather icon-octagon"></i></a>
    </li>
    <li class="nav-item class-icon-principale">
        <a href="javascript:" class="pop-search-nav"><i class="feather icon-pie-chart"></i></a>
    </li>
</ul>