.pagination-inner{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.btn-icon{
  width: 30px;
  height: 30px;
}

.rechercherligne input{
  height: 30px;
}

.rechercherligne .form-group{
  margin-bottom: 0px;
}

th, td{
  padding:10px;
}

.pagination{
  background-color: white;
  width: fit-content;
  margin: auto;
}

.pagination li{
  margin:2px;
  color: #1abc9c;
  cursor: pointer;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 700;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 7px;
}

.pagination li:hover{
  color: white;
  background-color: #92c7bc;
}

.active-page{
  color: white !important;
  background-color: #1abc9c;
}

.buttons-croissante{
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.th-tableau{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
}

.th-tableau2{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
  max-width: 125px;
}

.buttons-croissante i{
color: rgb(190, 190, 190);
}

.active-buttons-croissante{
  color: rgb(80, 79, 79) !important;
}

th, td{
  border: 1px solid #e3eaef;
  width: auto;
}

input{
  padding-left: 2px;
  padding-right: 2px;
}


/* Modal styles */


.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}
.modal form label {
	font-weight: normal;
}
