<div class="category-page-wrapper" >
    <div class="result-inner"><!--Showing 1 to 8 of 10 (2 Pages)--></div>
    <div class="pagination-inner">
      <ul class="pagination">
        
        <li>
            <i _ngcontent-eep-c121="" class="feather icon-camera" (click)="printout()"></i>
        </li>
        
        <li>
            <i _ngcontent-eep-c121="" class="feather icon-camera"></i>
        </li>
        
        <li>
            <i _ngcontent-eep-c121="" class="feather icon-camera"></i>
        </li>
   
      </ul>
    </div>
</div>